root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 4

[*.proto]
indent_size = 2

[*.yml]
indent_size = 2

[*.ui]
indent_size = 1
ij_xml_text_wrap = off
ij_any_keep_line_breaks = true
ij_xml_keep_line_breaks_in_text = true
ij_xml_keep_whitespaces = true
